@charset 'UTF-8';

.m-board {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  section{
    overflow-y: scroll;
    @include flex();
    width: 100%;
    .mint-swipe{
    	height: 2.4rem;
    	.mint-swipe-items-wrap{
    		height: 2.4rem;
    		.mint-swipe-item{
    			height: 2.4rem;
    			img{
    				width: 100%;
    				height: 100%;
    			}
    		}
    	}
    }
	.assortment{
		@include flexbox();
  		@include flex-direction();
  		background: #fff;
  		margin-bottom: .1rem;
      text-align: center;
  		div{
  			width: 25%;
  			padding: .1rem;
  			i{
  				display: inline-block;
				margin-top: .05rem;
  			}
  			img{
  				width: 100%;
  			}
  		}
	}
	.today{
		@include flexbox();
		@include flex-direction(column);
		height: 2.80rem;
		background: #fff;
		text-align: center;
		font-size: .175rem;
		margin-bottom: .1rem;
		div{
			margin-top: .225rem;	
		}
		p{
			padding: .125rem;
			img{
				width: 100%;
				height: 100%;
				border-radius: .1rem;
			}
		}	
	}
  .ming-pop{
      @include flexbox();
      @include flex-direction(column);
      height: 2.80rem;
      background: #fff;
      text-align: center;
      font-size: .175rem;
      margin-bottom: .1rem;
    div{
      margin-top: .225rem;  
    }
    .scroll{
      overflow-x:scroll;
    }
    ul{
      @include flexbox();
      padding:0 .1rem;
      li{
        @include flexbox();
        @include flex-direction(column);
        img{
          padding:0 .05rem;
          width: .825rem;
          height: .825rem;
          border-radius: .1rem;
        }
      }
    }
    ul:last-child{
      padding: .1rem;
    }
  }
  .ming-title{
    background: #fff;
    text-align: center;
    font-size: .175rem;
    padding: .15rem 0;
  }
  .ming-collocation{
    @include flexbox();
    @include flex-direction(column);
    background: #fff;
    padding: 0 .15rem;
    ul>li{
      img{
        width: 100%;
        height: 100%;
        border-radius: .15rem;
      }
    }
    li:nth-of-type(1){
      width: 2.2rem;
      float: left;
    }
    li:nth-of-type(2){
      width: 1rem;
      float: left;
      width: 1.22rem;
      height: 1.075rem;
      padding-left: .04rem;
    }
    li:nth-of-type(3){
      width: 1rem;
      float: left;
      width: 1.22rem;
      height: 1.075rem;
      padding-left: .04rem;
      margin-top: .05rem;
    }
    li:nth-of-type(4){
      width: 1rem;
      float: left;
      width: 1.22rem;
      height: 1.075rem;
      padding-left: .04rem;
      margin-top: .05rem;
    }
  }

  }
}