@import "../fragment/yo-header";

@include yo-header(  
  $name: a,
  $bgcolor: #35495e,
  $item-ico-color: #fff,
  $border-width: 0,
  $color: #fff,
  $font-size: .12rem
){
  opacity: 0.1;
  .regret {
    left: auto;
    right: 0;
  }
  .left {
    right: auto;
    left: 0
  }
}
section{
    overflow-y: hidden;    
    .buy_tu{
        width: 100%;
        height: 4.4rem;
     img {
          position: absolute;
          z-index: 999;
          width: 100%;
          height:4.4rem;
        }
    }
    .buy_box{
        text-align: center;
        padding:0 .15rem;
        .above{
            font-size: .16rem;
            color: #333;
            line-height: .2rem;
            padding-top: .2rem;
        }
        .below{
            font-size: .14rem;
            color: #666;
            line-height: .18rem;
            padding-top: .18rem;
        }
        .buy_price{
            .price_left{
                font-size: .17rem;
                color: #ff2c61;
            }
            .price_right{
                font-size: .12rem;
                color: #999;
                text-decoration: line-through;
            }
        }
        .buy_num{
            @include flexbox();
            color: #999;
            font-weight: normal;
            span{
                @include flex()
            }
        }
    }
    
}
